
//set defaults
- if (!err) var err = ""
- if (!name) var name = ""

div#centerDiv
	h2 Captain #{name}, 
	h2 please select your ship:
	table
		tr
			th Ship
			th Location
			th &nbsp;
		each ship, i in ships
			tr
				td #{ship.name}
				td #{ship.locationName}
				td: a(href="#", onclick="changePage('/start/selectShip','POST',{ship: '#{ship._id}'}, true);") Make it So
	a(href="#", onclick="changePage('/start/newShip')") New Ship

	p #{err}
	div#nameInstructions(style="display:none")
		//make this say 'tap to continue' for iOS
		p (press Enter to continue)