//extends layout

block content

	h2 #{title}
	
	//set defaults
	- if (!locals.system) var system = {name : "",description : "",locationName : "",meassage : ""};
	- if (!err) var err = ""
	
	p.error #{err}
	
	form(method="#{formMethod}", name="system", action="#{formAction}")
		table
			tr
				td Name:
				td: input(type="text", name="name", tabindex=1, size=70, value="#{system.name}")
			tr
				td Description:
				td: input(type="text", name="description", tabindex=2, size=70, value="#{system.description}")
			tr
				td Location Name:
				td: input(type="text", name="locationName", tabindex=2, size=70, value="#{system.locationName}")
			tr
				td Message:
				td: textarea(type="text", name="message", tabindex=3, rows=15, cols=60) #{system.message}
			tr
				td: input(type="Button", value="Submit", tabindex=5, onclick="ajaxRequest('#{formAction}', '#{formMethod}', {name : this.form.name.value, description : this.form.description.value, locationName : this.form.locationName.value, message : this.form.message.value},'html')")
				td: input(type="Button", value="Cancel", onclick="ajaxRequest('/editor/system');")
